body {
    background-color: lightgray;
}

h3{
    text-align: left;
    font-family: Geneva;
    font-weight: bold;
    color: rgb(32, 177, 177);
}

h4{
    text-align: left;
    font-family: Geneva;
    font-weight: bold;
    color: rgb(32, 177, 177);
}

.ttle{
    box-sizing: border-box;
    widows: 10px;
height:auto;
padding:10px;
min-height:150px;
background-color: white;
position:relative;
	}

/* img{
    
    width: 15%;

    /* Area between the padding and the margin */
    border: 3px; 
    border-style: ridge;
    border-color: #F25E5E;

    /* Area between the element and the border */
    padding: 4.4%;

    /* Area between the outer edge of the border and other elements */
    margin: 4.4%;

} */