body {
    background-color: lightgray;
}
.row{
    margin-left: 5em;
}

h3{
    text-align: left;
    font-family: Geneva;
    font-weight: bold;
    color: rgb(32, 177, 177);
}

h4{
    text-align: left;
    font-family: Geneva;
    font-weight: bold;
    color: rgb(32, 177, 177);
}

.left_half{
    box-sizing: border-box;
    widows: 10px;
    height:auto;
    padding:10px;
    min-height:400px;
    background-color: white;
    }
    
.right_half{
    box-sizing: border-box;
    widows: 10px;
    height:auto;
    padding:10px;
    min-height:400px;
    background-color: white;
    position:relative;
        }

.img_one{
    
    width: 33%;
    float: left;
    /* Area between the element and the border */
    
    /* float: left; */
    /* Area between the outer edge of the border and other elements */
    margin-right: 20px;;

} 

/* .img_box{
align-items: stretch;
} */

.img{
    width: 45%;
}
.img_1{
    position: relative;
    top: 0;
    left: 0;
    } 

.img_2{
    position: relative;
    top: 0;
    right: 0;
    } 

.img_3{
    position: relative;
    bottom: 0;
    left: 0;
    } 

.img_4{
    position: relative;
    bottom: 0;
    right: 0;
    } 

p {
    float: right;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
