body {
    background-color: lightgray;
}

h3{
    text-align: left;
    font-family: Geneva;
    font-weight: bold;
    color: rgb(32, 177, 177);
}

h4{
    text-align: left;
    font-family: Geneva;
    font-weight: bold;
    color: rgb(32, 177, 177);
}

.ttle{
    box-sizing: border-box;
    widows: 10px;
height:auto;
padding:10px;
min-height:150px;
background-color: white;
position:relative;
	}

.image_one{
    
    width: 33%;
    float: left;
    /* Area between the element and the border */
    
    /* float: left; */
    /* Area between the outer edge of the border and other elements */
    margin-right: 20px;;

} 
p {
    float: right;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
